@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&family=Lato:wght@100;300;400;700;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-image: url("../../assets/bg.png");
}

form {
  text-align: center;
}
.pageHeader {
  font: normal normal 900 15px/25px Lato;
  letter-spacing: 0.17px;
  color: #161a1a;
  margin: 0;
  margin-bottom: 30px;
}
.pageContainer {
  margin: auto;
  padding: 20px 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-align: center;
  width: 30%;
  min-width: 500px;
  margin-top: 20%;
}

input {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  border: 1px solid #2d9bef;
  background: #f8fcff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
}

.close {
  margin-left: 100%;
}

.inputField input {
  padding: 8px 20px;
  padding-top: 18px;
  border: 1.8px solid rgba(107, 107, 107, 0.4);
  border-radius: 3px;
  width: 50%;
  color: black;
}

.inputField input:focus {
  border: 1.8px solid #6b6b6b;
  outline: none;
}

.inputField span {
  pointer-events: none;
  opacity: 0.5;
  position: absolute;
  padding-left: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: text;
}

.inputField input:focus + span,
.inputField input:not(:placeholder-shown) + span {
  top: 7px;
  -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
  transform: scale(0.7) translateY(-10%) translateX(-8.5px);
}

.inputField input,
.inputField span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
