.loadBtn {
  position: absolute;

  width: 5px;
  height: 5px;
  border-radius: 50%;
  /* top: 50%; */
  left: 90%;
  background-color: transparent;
  box-shadow: 5px 5px 5px 5px rgb(0, 85, 255), 0 0 0 0 #0f0, 0 0 0 20px rgb(237, 237, 241);
  animation: pulse 2s linear infinite; /* Pulse the spinner with a 2-second duration */
}

/* Define the keyframes for the pulse animation */
@keyframes pulse {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 0 0 #f00, 0 0 0 0 #0f0, 0 0 0 0 #00f;
  }
  25% {
    transform: rotate(25deg);
    box-shadow: 5px 10px 0 2px #f00, 0 0 0 0 #0f0, 0 0 0 0 #00f;
  }
  50% {
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.125), 0 0 0 5px rgba(2, 122, 2, 0.167),
      0 0 0 0px #00f;
  }
  75% {
    transform: rotate(0deg);
    box-shadow: 1px 0 0 0 #02020220, 0 0 0 2px rgba(0, 255, 0, 0.096),
      0 0 0 5px rgba(238, 238, 240, 0.193);
  }
  100% {
    transform: rotate(0deg);
    box-shadow: 0px 0px 0 0 rgba(231, 228, 228, 0.245),
      0 0 0 0 rgba(0, 255, 0, 0.462), 0 0 0 2px rgba(0, 0, 255, 0.121);
  }
}
